<h1 id="heading"> My Books (<%= @user.books.length %>) </h1>
<div class="cards-index">
  <% @user.books.each do |book| %>
  <div class="card-index">
    <div class="card-left">
      <img src="<%= cl_image_path book.photo, height: 420, width: 262, crop: :fill %>" />
    </div>
    <div class="card-right">
      <div class="book-text">
        <h1> <%= book.title %> </h1>
        <h2> <%= book.author %>  </h2>
        <p> <%= book.description %> </p>
      </div>
      <div class="book-btn">
        <div id="link"> <button type="button"> <%= link_to "more", book_path(book) %> </button></div>
      </div>
    </div>
  </div>
  <% end %>
</div>
<h1 id="heading">Pending Requests (<%= @booked_booking.length %>)</h1>
<% @booked_booking.each do |booking| %>
<% booked = booking.book %>
<div class="cards-index">
  <div class="card-index">
    <div class="card-left">
      <img src="<%= cl_image_path booked.photo, height: 420, width: 262, crop: :fill %>" />
    </div>
    <div class="card-right">
      <div class="book-text">
        <h1> <%= booked.title %> </h1>
        <h2> <%= booked.author %>  </h2>
        <p> <%= booked.description %> </p>
      </div>
      <div class="book-btn">
        <div id="link">
          <button type="button">Pending</button>
        </div>
        <div class="my_button_left"> <%= simple_form_for(booking) do |f| %>
          <%= f.hidden_field :status, :value => "Accept" %>
          <%= f.button :submit, "Accept", class: "btn btn-flat" %>
        <% end %></div>
        <div class="my_button_right"> <%= simple_form_for(booking) do |f| %>
          <%= f.hidden_field :status, :value => "Reject" %>
          <%= f.button :submit, "Reject", class: "btn btn-flat" %>
        <% end %></div>
      </div>
    </div>
  </div>
  <% end %>
</div>
<h1 id="heading">Borrowed Books (<%= @bookings.length %>)</h1>
<% @bookings.each do |booked| %>
<% book = booked.book %>
<div class="cards-index">
  <div class="card-index">
    <div class="card-left">
      <img src="<%= cl_image_path book.photo, height: 420, width: 262, crop: :fill %>" />
    </div>
    <div class="card-right">
      <div class="book-text">
        <h1> <%= book.title %> </h1>
        <h2> <%= book.author %>  </h2>
        <p> <%= book.description %> </p>
      </div>
      <div class="book-btn">
        <div id="link">
          <button type="button">Taken</button>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
