<h1 id="heading"> Available Books (<%= @books.length %>) </h1>

<div class="cards-index">
  <% @books.each do |book| %>
  <div class="card-index">
    <div class="card-left">
      <img src="<%= cl_image_path book.photo, height: 420, width: 262, crop: :fill %>" />
    </div>
    <div class="card-right">
      <div class="book-text">
        <h1> <%= book.title %> </h1>
        <h2> <%= book.author %>  </h2>
        <p> <%= book.description %> </p>
      </div>
      <div class="book-btn">
       <div id="link"> <button type="button"> <%= link_to "more", book_path(book) %> </button></div>
      </div>
    </div>
  </div><% end %>
</div>

