
<h1> Available Books (<%= @books.length %>) </h1>

<div class="cards">
  <% @books.each do |book| %>
  <div class="card">
    <div class="book-img">
      <img src="https://s.s-bol.com/imgbase0/imagebase3/large/FC/4/3/9/8/1001004006078934.jpg" height="420" width="262" />
    </div>
    <div class="book-info">
      <div class="book-text">
        <h1> <%= book.title %> </h1>
        <h2> <%= book.author %>  </h2>
        <p> <%= book.description %> </p>
      </div>
      <div class="book-btn">
       <div id="link"> <button type="button"> <%= link_to "more", book_path(book) %> </button></div>
      </div>
    </div>
  </div><% end %>
</div>
