<main class="container-show">
  <div class="card-show-left">
    <div class="img">
      <%= cl_image_tag @book.photo, height: 420, width: 262, crop: :fill %>
    </div>
  </div>
  <div class="card-show-right">
    <h1> <%= @book.title %> </h1>
    <h2> Author: <%= @book.author %> </h2>
    <h2> Publication date: <%= @book.publication_year %> </h2>
    <p><%= @book.description %></p>
    <%  if @existing_booking.nil? || @existing_booking.status == nil %>
      <%= simple_form_for(@new_booking) do |f| %>
        <%=  f.hidden_field :status %>
        <%=  f.hidden_field :book_id %>
        <div class="book-btn">
        <%= f.button :submit, "Borrow book", class: "btn btn-flat button-borrow" %>
        </div>
      <% end %>
    <% else %>
      <button class="btn btn-flat" disabled>Requested <%= @existing_booking.status %></button>
    <% end %>
  </div>
</main>
