<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta prefix="og: http://ogp.me/ns#" property='og:title' content='Two sided market place'/>
    <meta prefix="og: http://ogp.me/ns#" property="og:image" content="https://res.cloudinary.com/dgcquo0iq/image/upload/v1551618020/Screen_Shot_2019-03-01_at_5.46.28_PM.png" />
    <meta property='og:description' content='Ruby on Rails website same functionality of Airbnb but for books'/>
    <meta prefix="og: http://ogp.me/ns#" property='og:url' content='https://rails-bookable.herokuapp.com/' />
    <title>TODO</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Roboto|Roboto+Mono" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bentham|Playfair+Display|Raleway:400,500|Suranna|Trocchi" rel="stylesheet">
  </head>
  <body class="<%= controller_name + ' ' + action_name%>">
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= render 'shared/footer' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>




Here are the image requirements specific to the LinkedIn sharing module:

Max file size: 5 MB
Minimum image dimensions: 1200 (w) x 627 (h) pixels
Recommended ratio: 1.91:1
